*{margin: 0;padding: 0; box-sizing: border-box;}
.container{
    .loader{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        width: 80%;
        color: rgb(81, 42, 42);
        .circle{
            background: rgb(46, 12, 12);
            width: 50px;
            height: 50px;
            border-radius: 50%;
            margin: 50px;
            animation: a1 .9s ease-in infinite;
            &:nth-of-type(2){animation-delay: .2s;}
            &:nth-of-type(3){animation-delay: .4s;}
        }
    }
    .movies{
        margin: 50px 0;
        display: grid;
        grid-template-columns: repeat(2, minmax(400px, 1fr));
        grid-gap: 100px;
        padding: 50px;
        width: 80%;
        padding-top: 70px;
    }
}

@media screen and (max-width: 1090px) {
    .container{
        .movies{
            grid-template-columns: 1fr;
            width: 100%;
        }
    }
}
@keyframes a1 {
    0%{transform: translateY(0);}
    50%{transform: translateY(-130px);}
    100%{transform: translateY(0);}
}
